body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    position: relative;
    top:25px;
    width: 700px;
    align-self: center;
}

#container .over {
    position: absolute;
    top: 0px;
    left: 0px;
}

#controls {
    align-self: center;
}

#canvas {
    z-index: 5;
}

video {
    width: 100%;
}