html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#playfield {
    height: 100%;
    width: 100%;
    position: relative;
}

div.card {
    height: 230px;
    width: 161px;
    position: absolute;
    box-sizing: content-box;
    transform-style: preserve-3d;
}

div.card.flipped {
    transform: rotateY(180deg);
}

div.card:hover::after {
    background-color: red;
    position: absolute;
    height: 100%;
    width: 100%; 

}

div.card img {
    position: absolute;
    height: inherit;
    width:  inherit;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box;
}

div.card img.back {
    transform: rotateY(180deg);
}


