html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#playfield {
    height: 100%;
    width: 100%;
    position: relative;
}

div.card {
    height: 200px;
    width: 140px;
    position: absolute;
    box-sizing: content-box;
    transform-style: preserve-3d;
}

div.card.flipped {
    transform: rotateY(180deg);
    transition-property: transform;
    transition-duration: 500ms;
}

div.card:not(.flipped) {
    transform: rotateY(0deg);
    transition-property: transform;
    transition-duration: 500ms;
}

div.card img {
    position: absolute;
    height: inherit;
    width:  inherit;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box;
}

div.card img.back {
    transform: rotateY(180deg);
}

div.guide {
    position: absolute;
    visibility: hidden;
    width: 100%;
    border-top: solid 1px red;
}