body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("rover/mars_background.jpg");
    margin: 0;
}

#container {
    perspective: 900px;
    /* flex: 1 0 100%; */
    width: 625px;
}


#card {
    position: relative;
    transform-style: preserve-3d;
    border: solid black 3px;
    transition: all 500ms;
    width: 100%;
    height: 400px;
}

#card.flipped {
    transform: rotateY(180deg); 
}

.face {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* backface-visibility is not supported in Safari */
    position: absolute;
    display: flex;
    align-items: center;
    background-color: peru;
    height: 100%;
    /* background-color: white; */
}

.face.back {
    transform: rotateY(180deg);
}

#rover_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rover div#loader.show {
    visibility: visible;
}

#rovers {
    display: flex;
    justify-content: center;
    width: 100%;   
    flex-wrap: wrap;
}

.rover {
    /* position: relative; */
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    box-sizing: border-box;
    padding: 10px;  
    display: flex;
    align-items: flex-end;
    background-size: cover;
    cursor: pointer;
} 

/* Title */
.rover:after {
    content: attr(id);
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
    background-color: rgba(53,53,53,0.7);
    color: white;
    font-size: 20pt;
    height: 40px;
}

#rovers.front div#loader {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top:0px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.5s opacity ease-in;
    visibility: hidden;
}

div#loader img {
    height: 40px;
    width: 40px;
    display: flex;
    align-self: center;
    
}

.rover#spirit { background-image: url("rover/spirit.jpg");}
.rover#opportunity {background-image: url("rover/opportunity.jpg")}
.rover#curiosity {background-image: url("rover/curiosity.jpg")}

#introduction {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#introduction a{
    color: yellow;
}

#introduction input {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    background-color: inherit;
}

#introduction input.disabled {
    background-color: inherit;
    color: firebrick;
    user-select: none;
    cursor: pointer;
}

#introduction input {
    background-color: white;
    color: firebrick;
}

div.title_bar {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
    background-color: rgba(53,53,53,0.7);
    
    height: 40px;
}

span#title {
    color: white;
    font-size: 20pt;
}

span#back_button {
    position: absolute;
    left: 4px;
    top: 8px;
    color: white;
    cursor: pointer;
}

span#current_sol {
    position: absolute;
    right: 4px;
    top: 8px;
    color: white;
}


#rover_details #layout{
    display: flex;
    flex-direction: row;
    color:white;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}

#rover_details #layout>div {
    width: 50%;
}

#camera_list li{
    background-image: url(rover2_icon.png);
    background-repeat: no-repeat;
    background-size: 21px;
    list-style-type: none;
    padding-left: 30px;
    padding-top: 4px;
    margin-bottom: 3px;
    cursor: pointer;
}

#camera_list li:hover {
    background-color: firebrick;
    color: white;
}

#pictures {
    width: 100%;
    height: 90%;
    border: none;
    overflow-y: scroll;
    outline: none;
    white-space: normal;
    background-color: inherit;
}

#rover_details table {
    text-align: left;
    width: 100%;
}

#rover_details button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

#photo {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

#photo.hidden {
    visibility: hidden;
}

#photo #photo_details {
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    color: firebrick;
    background-color: rgba(0, 0, 0, 0.75);
}

#photo_details span{
    color: white
}

#roverPhoto {
    max-height: 80%;
    max-width: 80%;
    border: solid 3px white;
    border-radius: 10px;
}

.image_load {
    animation: image_load 0.25s ease-out;
}

#photo div {
    border: solid 2px white;
    border-radius: 10px;
}


@keyframes image_load{
    0% {
        transform: scaleX(0.01) scaleY(0.01);
    }

    50% {
        transform: scaleX(1) scaleY(0.01);
    }

    100% {
        transform: scale(1) scale(1);
    }
}
