/*
This is the style page for scene.
*/

* {
    -webkit-transition: all 1s;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: darkgray;
    position: relative;
    perspective: 900px;
    overflow-y: hidden;
    margin: 0;
}

body div.pane {
    background: white;    
    height: 100%;
    width: 100%;
    /* padding: 2px; */
    position: absolute;
    top: 0px;
    left: 0;

}

body div.pane#right {
    background-color: black;
    color: orange;
    text-shadow: 1px 1px 13px;    
    font-family: monospace;
    white-space: pre;
    text-transform: uppercase;
}
