body {margin: 8px;}
body div.pane {
    border: black solid 1px; 
    border-radius: 10px;
}

body div.pane {height:90%; width: 45%;}
/*--- ---*/
body {margin-top: 3% !important; padding: 2px;}

div.pane {top: 3%;}
div.pane#left {left: 3%;}
div.pane#right {left: 50%;}

div.pane#left {transform: rotateY(10deg);}
div.pane#right {transform: rotateY(-10deg);}
/*--- ---*/

div#left {
    background-color: skyblue;
}
/*--- ---*/
div#grass {
    height: 35%;
    width: 100%;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}
/*--- ---*/
div#sun_container {
    position: relative;
    top: 500px;
    left: 200px;
}
div#sun {
    height: 150px;
    width: 150px;
    background-color: goldenrod;
    clip-path: circle(50%);
    z-index: 5;
    position: absolute;
}

div#sun_container {
    top: 100px !important;
    left: 200px;
}

div#left div#moon_container {
    top: 75%;
    left: 60%;
    position: absolute;
}

div#moon {
    height: 100px;
    width: 100px;
    background-color: white;
    clip-path: circle(50%);
    position: absolute;
}

/*--- ---*/
div#cow1 {
    visibility: visible;
    left: 10%;
    animation: cow_drop 1.5s linear;
}

/*--- ---*/
div#cow2 {
    visibility: visible;
    left: 70%;
    animation: cow_drop2 1.5s linear;
}


/*--- ---*/
div#left div#moon_container {
    top: 150px !important;
    left: 300px;
}
div#left #sun_container {
    top: 70% !important;
}

div#left div#grass {
    background-color: darkgreen;
}
div#left {
    background-color: darkviolet !important;
}

/*--- ---*/

div#saucer {
    animation: saucer_movement 8s ease-in-out;
}

/*--- ---*/

div#saucer {
    animation: saucer_shake 0.25s ease-in-out !important;
}